@import '../../../../scss/mixins';

.page-container {
	height: calc(100vh - 65px);
}

h1, h2 {
  color: #afafaf;
  opacity: 0.5;
  margin-block-start: 0.145em;
  margin-block-end: 0.145em;
}

h1 {
  @include font-size(150px);
}

h2 {
  @include font-size(90px);
}
