<div class="home-container flex-column">
	<div class="section">
		<h2>Snackbar demo</h2>
		<button (click)="showSnackbar()">Show a Snackbar</button>
	</div>
	<div class="section">
		<h2>Loading spinner and cache demo</h2>
		<p>Watch your console and click the appropriate button twice to see cache results. (console log is a debug message "console.debug(...)")</p>
		<button (click)="getRandomData()">Cache to Object</button>
		<button (click)="getSingleData()">Cache to Session Storage</button>
		<button (click)="clearSessionStorage()">Clear Session Storage</button>
	</div>
	<div class="section">
		<h2>Character Counter Demo</h2>
		<form [formGroup]="charCounterForm">
			<div class="form-field">
				<label>"Up" Character Counter</label>
				<input
					type="text"
					class="form-control"
					[class.error]="charCounterForm.get('up').invalid"
					formControlName="up" />
				<app-character-counter
					prefixText="Prefix"
					suffixText="Suffix"
					counterType="up"
					[control]="charCounterForm.get('up')">
				</app-character-counter>
			</div>
			<div class="form-field">
				<label>"Down" Character Counter</label>
				<input
					type="text"
					class="form-control"
					[class.error]="charCounterForm.get('down').invalid"
					formControlName="down" />
				<app-character-counter
					max="10"
					prefixText="Prefix"
					suffixText="Suffix"
					counterType="down"
					[control]="charCounterForm.get('down')">
				</app-character-counter>
			</div>
		</form>
	</div>
	<div class="section">
		<h2>Dynamic Form</h2>
		<div class="form-data-container flex-row">
			<div>
				<h4>Here is the starting form value</h4>
				<pre>{{user | json}}</pre>
			</div>
			<div>
				<h4>Here is the form definition</h4>
				<pre>{{userFormGroupConfig | json}}</pre>
			</div>
			<div class="wide-content">
				<h4>Here is the resulting FormGroup</h4>
				<pre>{{dynamicFormGroupVals | json}}</pre>
			</div>
		</div>
		<app-dynamic-form [formGroupDefinition]="formGroupDef" (formGroupInitialized)="this.onDynamicFormInit($event)"></app-dynamic-form>
	</div>
	<div class="section">
		<h2>Change the header</h2>
		<button (click)="onToggleHeaderClick()">Toggle Header</button>
	</div>
</div>
