@import 'src/scss/variables';

.site-header-container {
	background-color: $primary;
	color: white;
	align-items: center;
	height: 64px;
	padding: 0 10px;

	.title {
		font-size: 1.5rem;
		font-weight: 500;
	}

	.userIcon {
		&:hover {
			color: $accent;
			cursor: pointer;
		}
	}
}
