a {
	color: $primary;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		color: $accent;
		text-decoration: underline;
	}
}

.message-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.message {
		font-size: 18px;
		font-weight: 500;
	}
}

.form-field {
	margin-bottom: 10px;

	label, .label {
		display: block;
		margin-bottom: 3px;
	}

	input, .input {
		border: 1px solid #afafaf;
		border-radius: 5px;
		height: 26px;
		line-height: 1rem;
		font-family: inherit;
		font-size: inherit;

		&.error {
			border-color: $error;
			background-color: rgba($error, 0.1);
		}
	}
}

button {
	padding: 10px;
	font-size: inherit;
	background: white;
	border: 1px solid #afafaf;
	@include border-radius(4px);

	&:hover {
		cursor: pointer;
		background-color: $app-primary;
		color: white;
		@include elevation(3);
	}
}
