.flex {
	display: flex;
}

.flex-column {
	display: flex !important;
	flex-direction: column;
}

.flex-row {
	display: flex !important;
	flex-direction: row;
}

.flex-content-start {
	justify-content: flex-start;
}

.flex-content-end {
	justify-content: flex-end;
}

.flex-content-center {
	justify-content: center;
	align-items: center;
}

.flex-content-end-spacer {
	flex: 1 1 auto;
}

.align-items-center {
	align-items: center;
}

.page-container {
	padding: 15px;
}

.spacer {
	display: flex;
	flex: 1 1 auto;
}
