@import 'src/scss/variables';
@import 'src/scss/mixins';

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;

	$offset: 187;
	$duration: 1.4s;

	.spinner {
		animation: rotator $duration linear infinite;
	}

	@keyframes rotator {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(270deg); }
	}

	.path {
		stroke-dasharray: $offset;
		stroke-dashoffset: 0;
		transform-origin: center;
		animation:
			dash $duration ease-in-out infinite,
			colors ($duration*4) ease-in-out infinite;
	}

	@keyframes colors {
		0% { stroke: #4285F4; }
		25% { stroke: #DE3E35; }
		50% { stroke: #F7C223; }
		75% { stroke: #1B9A59; }
		100% { stroke: #4285F4; }
	}

	@keyframes dash {
		0% { stroke-dashoffset: $offset; }
		50% {
			stroke-dashoffset: $offset/4;
			transform:rotate(135deg);
		}
		100% {
			stroke-dashoffset: $offset;
			transform:rotate(450deg);
		}
	}
}

.site-container {
  @include font-size(12px);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;

	.site-sidebar {
		width: 64px;
		border-right: 2px solid $primary;
	}

	.site-right-content {
		width: 100%;

		.site-header {
			height: 64px;
		}

		.site-footer {
			height: 64px;
		}

		.site-content {
			height: calc(100vh - 64px);
			padding: 0 15px;
			overflow: auto;

			&.with-footer {
				height: calc((100vh - 64px) - 64px);
			}
		}
	}
}
