@import 'src/scss/variables';
@import 'src/scss/mixins';

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 5;
}

.site-container {
  @include font-size(12px);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;

  .site-header {
    height: 64px;
  }

	.site-footer {
		height: 64px;
	}

  .site-content {
    height: calc(100vh - 64px);
    padding: 0 15px;
    overflow: auto;

		&.with-footer {
			height: calc((100vh - 64px) - 64px);
		}
  }
}
