<div class="page-container flex flex-content-center">
	<app-card>
		<div class="header flex-column" header>
			<h2 class="title">Change Password</h2>
		</div>
		<div class="content" content>
			<form class="changePasswordForm flex-column" [formGroup]="changePwForm">
				<div class="form-field flex-column">
					<label for="currentPassword" class="label">Current Password</label>
					<input id="currentPassword" class="input" placeholder="Current Password" type="password" [formControl]="password" name="password">
				</div>
				<div class="form-field flex-column">
					<label for="newPassword" class="label">New Password</label>
					<input id="newPassword" class="input" placeholder="New Password" type="password" [formControl]="new_password" name="new_password">
				</div>
				<div class="form-field flex-column">
					<label for="verifyPassword" class="label">Verify Password</label>
					<input id="verifyPassword" class="input"  placeholder="New Password Again" type="password" [formControl]="verify_password" name="verify_password">
				</div>
			</form>
		</div>
		<div class="actions flex-row flex-content-end" actions>
			<button (click)="onCancelClick()">Cancel</button>
			<button (click)="onUpdateClick()">Update</button>
		</div>
	</app-card>
</div>
