<div class="page-container flex flex-content-center">
  <mat-card class="changePasswordCard">
    <mat-card-title>Reset Forgotten Password</mat-card-title>
    <mat-card-content>
      <form #changePasswordForm class="changePasswordForm flex-column" [formGroup]="forgotPwForm">
        <mat-form-field appearance="standard">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="youremail@knowhere.com" type="email" [formControl]="email" name="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="New Password" type="password" [formControl]="new_password" name="new_password">
          <mat-error *ngIf="new_password.invalid">{{getErrorMessage('new_password')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Verify Password</mat-label>
          <input matInput placeholder="New Password Again" type="password" [formControl]="verify_password" name="verify_password">
          <mat-error *ngIf="verify_password.invalid">{{getErrorMessage('verify_password')}}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="flex-row flex-content-end">
      <button mat-raised-button (click)="onCancelClick()">cancel</button>
      <button mat-raised-button color="primary" (click)="onUpdateClick()">Update</button>
    </mat-card-actions>
  </mat-card>
</div>

