@use 'theme';

/* Variables for the theme colors */
$primary: theme.$app-primary;
$accent: theme.$app-accent;
$warn: theme.$app-warn;
$warn-color: theme.$app-warn-color;
$info: theme.$app-info;
$info-color: theme.$app-info-color;
$success: theme.$app-success;
$success-color: theme.$app-success-color;
$danger: theme.$app-danger;
$danger-color: theme.$app-danger-color;
$error: theme.$app-error;
$error-color: theme.$app-error-color;
