@import 'theme';

/* Variables for the theme colors */
$primary: $app-primary;
$accent: $app-accent;
$warn: $app-warn;
$warn-color: $app-warn-color;
$info: $app-info;
$info-color: $app-info-color;
$success: $app-success;
$success-color: $app-success-color;
$danger: $app-danger;
$danger-color: $app-danger-color;
$error: $app-error;
$error-color: $app-error-color;
