/* You can add global styles to this file, and also import other style files */
@import 'variables';

/* Any UI framework imports go here */

@import 'mixins';

/* misc/app-global should be last in order to override any other styles */
@import 'misc/flexbox';
@import 'misc/app-global';

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 0.75rem;
	overflow: hidden;
	margin: 0;
	height: 100vh;
}

/**
 * For the sake of cleanliness all global styles are placed elsewhere (i.e. in the misc folder)
 */


