@import './mixins';

$app-primary: #3F51B5;
$app-accent: #03A9F4;
$app-error: #de1414;
$app-error-color: white;
$app-info: #d1ecf1;
$app-info-color: #0c5460;
$app-success: #d4edda;
$app-success-color: #155724;
$app-danger: #f8d7da;
$app-danger-color: #721c24;
$app-warn: #fff3cd;
$app-warn-color: #856404;

.form-field {
	margin-bottom: 10px;

	.label {
		margin-bottom: 3px;
	}

	.input {
		border: 1px solid #afafaf;
		border-radius: 5px;
		height: 32px;
		line-height: 32px;
		padding: 5px;
		font-family: inherit;
		font-size: inherit;
	}
}

button {
	padding: 10px;
	font-size: inherit;
	background: white;
	border: 1px solid #afafaf;
	@include border-radius(4px);

	&:hover {
		cursor: pointer;
		background-color: $app-primary;
		color: white;
		@include box-shadow(0, 2px, 6px, 0, rgba(0,0,0,0.23));
	}
}
